<div class="container py-5">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">My Events</h2>
    <div class="d-flex gap-2">
     <%= link_to "← Back", request.referer || root_path, class: "btn bg-dark btn-dark rounded-pill px-3" %>
     </div>
  </div>

  <% if @events.any? %>

    <div class="row g-4">
    <% @events.each do |event| %>
     <%= link_to event_path(event), class: "text-decoration-none" do %>

  <div class="col-12">

      <div class="card border-0 shadow-sm rounded-4 event-card bg-white">

        <div class="card-body d-flex justify-content-between align-items-center flex-wrap p-4">

          <!-- LEFT SIDE -->
          <div>

            <div class="bg-dark text-white rounded-3 px-3 py-2 mb-3">
              <h5 class="fw-bold mb-0"><%= event.name %></h5>
            </div>

            <!-- DATE + TIME -->
            <p class="small text-muted mb-1">
              📅 <%= event.date.strftime("%d %b") %> • 
              ⏰ <%= event.start_time.strftime("%I:%M %p") %>
            </p>

            <!-- VENUE -->
            <p class="small text-muted mb-2">
              📍 <%= event.venue&.name %> - 
              <%= event.venue&.address %>
            </p>

            <!-- DESCRIPTION -->
            <p class="small text-muted mb-0">
              <%= truncate(event.description, length: 100) %>
            </p>

          </div>

          <!-- RIGHT SIDE BUTTONS -->
          <div class="d-flex gap-2 mt-3 mt-md-0">
            <% if event.date < Date.today %>
            <button class="btn btn-dark btn-sm" disabled>Completed</button>
            <% else %>
             <%= link_to "#{(event.date.to_date - Date.today).to_i} days left",
                  event_path(event),
                  class: "btn btn-dark btn-sm rounded-pill px-3" %>
             <% end %>
           
            <% if current_user.role == "event_manager" || current_user.role == "activity_owner"%>
            <%= link_to "Edit",
                  edit_event_path(event),
                  class: "btn btn-outline-dark btn-sm rounded-pill px-3" %>
                  <%end%>

          </div>

        </div>

      </div>

   

  </div>
   <% end %>
<% end %>

    </div>

  <% else %>

    <!-- EMPTY STATE -->
    <div class="text-center py-5">
      <h5 class="text-muted">No events yet</h5>
    </div>

  <% end %>

</div>