<div class="container py-5">

<!-- HEADER -->
<div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-3 mb-4">

  <!-- TITLE -->
  <div>
    <h2 class="fw-bold mb-0">All Events</h2>
    <small class="text-muted">Manage and track all your events</small>
  </div>

  <!-- ACTION BUTTONS -->
  <div class="d-flex flex-column flex-sm-row gap-2 w-100 w-md-auto">

    <%= link_to "← Back",
      request.referer || root_path,
      class: "btn btn-outline-secondary rounded-pill px-3  w-sm-auto" %>

    <%= link_to "＋ Add Event",
      new_event_path,
      class: "btn btn-success rounded-pill px-4 fw-semibold shadow-sm  w-sm-auto" %>

  </div>

</div>
  <!-- CARD -->
  <div class="card border-0 shadow-lg rounded-4">

    <div class="card-header bg-dark text-white rounded-top-4 d-flex justify-content-between align-items-center">
      <span class="fw-semibold">Event List</span>
      <span class="badge bg-light text-dark"><%= @events.count %> Events</span>
    </div>

    <div class="card-body p-4">

      <% if @events.any? %>

      <div class="table-responsive">
        <table class="table align-middle table-hover">

          <thead class="table-light">
            <tr class="text-secondary small text-uppercase">
              <th>Name</th>
              <th>Date</th>
              <th>Manager</th>
              <th class="text-end">Actions</th>
            </tr>
          </thead>

          <tbody>

          <% @events.each do |event| %>
            <tr>
              <!-- NAME -->
              <td>
                <strong class="text-dark"><%= event.name %></strong>
              </td>

              <!-- DATE -->
              <td>
                <span class="badge bg-light text-dark px-3 py-2 rounded-pill">
                  <%= event.start_date.strftime("%d %b %Y") %> 
                  <% if event.start_date < event.end_date%> - <%= event.end_date.strftime("%d %b %Y")%> <%end%>
                </span> 
              </td>


              <!-- MANAGER -->
              <td>
                <span class="fw-medium"><%= event.event_manager.name %></span>
              </td>

              <!-- ACTIONS -->
              <td class="text-end">

  <div class="d-inline-flex gap-2">

    <!-- View -->
    <%= link_to event_path(event),
        class: "btn btn-sm btn-light border rounded-pill px-3 d-flex align-items-center gap-1" do %>
      <i class="bi bi-eye"></i> View
    <% end %>

   <% if event.start_date < Date.today %>

  <span class="status-badge completed">
    ✔ Completed
  </span>

<% elsif event.start_date == Date.today %>

  <span class="status-badge today">
    Today
  </span>


    <% else %>

      <!-- Edit -->
      <%= link_to edit_event_path(event),
          class: "btn btn-sm btn-primary rounded-pill px-3 d-flex align-items-center gap-1 shadow-sm" do %>
        <i class="bi bi-pencil"></i> Edit
      <% end %>

      <!-- Delete -->
      <%= link_to event_path(event),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure"
        },
          
          class: "btn btn-sm btn-danger rounded-pill px-3 d-flex align-items-center gap-1 shadow-sm" do %>
        <i class="bi bi-trash"></i> Delete
      <% end %>

    <% end %>

  </div>

</td>

            </tr>
          <% end %>

          </tbody>

        </table>
      </div>

      <% else %>

        <div class="text-center py-5">
          <i class="bi bi-calendar-x fs-1 text-muted"></i>
          <p class="text-muted mt-3">No events found</p>
        </div>

      <% end %>

    </div>
  </div>
</div>