<div class="container mt-5">

  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-3 mb-4">
    
    <h2 class="fw-bold mb-0">All Venues</h2>

    <div class="d-flex flex-column flex-sm-row gap-2 w-100 w-md-auto">
      <%= link_to "← Back",
        request.referer || root_path,
        class: "btn btn-dark rounded-pill px-3  w-sm-auto" %>

      <%= link_to "Add New Venue",
        new_venue_path,
        class: "btn btn-success  w-sm-auto" %>
    </div>
  </div>


  <div class="card shadow-sm">

    <div class="card-header bg-dark text-white">
      Venue List
    </div>

    <div class="card-body">

      <% if @venues.any? %>

      <table class="table table-hover align-middle">

        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Capacity</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>

        <% @venues.each do |venue| %>
          <tr>

            <td>
              <strong><%= venue.name %></strong>
            </td>

            <td>
              <%= venue.address %>
            </td>
             <td>
              <%= venue.capacity %>
            </td>

            <td>


              <%= link_to venue_path(venue),
                          class: "btn btn-sm btn-outline-dark rounded-pill me-2" do %>
                          <i class="bi bi-eye"></i>
                        <% end %>

              <%= link_to edit_venue_path(venue),
                          class: "btn btn-sm btn-outline-primary rounded-pill me-2" do %>
                          <i class="bi bi-pencil"></i>
                        <% end %>

                        <%= link_to venue_path(venue),
                        data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure"
                        },
                          class: "btn btn-sm btn-outline-danger rounded-pill" do %>
                          <i class="bi bi-trash"></i>
                        <% end %>
            </td>

          </tr>
        <% end %>

        </tbody>

      </table>


      <% else %>

      <p class="text-center text-muted">No venues found.</p>

      <% end %>

    </div>

  </div>

</div>