<div class="container py-5">

  <!-- VENUE HEADER -->
  <div class="card border-0 shadow-lg rounded-4 mb-5">
    <div class="card-body p-5">

      <h1 class="fw-bold display-5 mb-3">
        <%= @venue.name %>
      </h1>

      <p class="fs-5 text-dark mb-1">
        <i class="fa-solid fa-location"></i> <%= @venue.address %>
      </p>
      
       <p class="fs-5 text-dark mb-1">
        <i class="fa-solid fa-chair"></i> Capacity: <%= @venue.capacity %>
      </p>

       <p class="fs-5 text-dark mb-1">
        <i class="fa-solid fa-map-pin"></i> Facilities: <%= @venue.facilities %>
      </p>

       <p class="fs-5 text-dark mb-1">
        <i class="fa-solid fa-phone"></i> Contact: <%= @venue.contact %>
      </p>

      <h5 class="mt-4">Location</h5>

    <div class="rounded-4 overflow-hidden shadow-sm">
      <iframe
        width="100%"
        height="300"
        style="border:0"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps?q=<%= ERB::Util.url_encode(@venue.name) %>&output=embed">
      </iframe>
    </div>

    </div>
  </div>

  <!-- EVENTS AT THIS VENUE -->
  <h4 class="fw-semibold mb-4">Events at this Venue</h4>

  <% if @events.any? %>
    <div class="row g-4">

      <% @events.each do |event| %>
        <div class="col-md-4">

          <div class="card border-0 shadow-sm rounded-4 h-100" style="background-color:#181615">

            <div class="card-body d-flex flex-column text-white">

              <!-- Title -->
              <h5 class="fw-bold mb-3"><%= event.name %></h5>

              <!-- Date + Time -->
              <h6 class=" mb-2 text-white">
                <i class="fa-solid fa-calendar"></i><%= event.date.strftime("%d %b") %> • 
                <i class="fa-solid fa-clock"></i> <%= event.start_time.strftime("%I:%M %p") %>
              </h6>

              <!-- Spacer -->
              <div class="mt-auto">
                <%= link_to "View Event",
                      event_path(event),
                      class: "btn btn-dark w-100 rounded-pill" %>
              </div>

            </div>

          </div>

        </div>
      <% end %>

    </div>

  <% else %>

    <!-- Empty State -->
    <div class="text-center py-5">
      <h5 class="text-muted">No events at this venue</h5>
      <p class="text-muted small">Events will appear here once created.</p>
    </div>

  <% end %>

  <!-- BACK BUTTON -->
  <div class="mt-5">
    <%= link_to "← Back", request.referer || venues_path,
      class: "btn btn-outline-dark rounded-pill px-4" %>
  </div>

</div>