
<div class="container mt-5">

 <h2 class="text-center fw-bold mb-5">RSVP Dashboard</h2>
   <div class="text-end">
     <%= link_to "← Back", request.referer || root_path, class: "btn  btn-dark rounded-pill px-3" %>
     </div>

  <%# upcoming events %>
  <h4 class="mb-4 text-primary">Upcoming Events</h4>
  <% if @upcoming_events.any? %>
  <div class="row g-4">
    <% @upcoming_events.each do |event| %>
      <div class="col-md-4">
        <%= link_to event_rsvps_path(event), class: "text-decoration-none" do %>
          
          <div class="event-card">
            
            <!-- Top Gradient -->
            <div class="card-header-gradient">
              <h5><%= event.name %></h5>
            </div>

            <!-- Body -->
            <div class="card-body-custom">
              <p>
                📅 <strong><%= event.date.strftime("%d %b %Y") %></strong>
              </p>

              <p>
                📍 <%= event.venue.try(:name) || "No venue" %>
              </p>

              <div class="rsvp-count">
                <% if event.date < Date.today%>
                <small>Event done</small>
                <% else %>
                <span><%= event.rsvps.count %></span>
                <small>Responses</small>
                <%end%>
                
              </div>
            </div>

          </div>

        <% end %>
      </div>
    <% end %>
  </div>
  <% else %>
      <div class="col-12">
        <p class="text-center text-muted">No upcoming events found.</p>
      </div>

      <% end %>

  <hr class="my-5">

  <%# completed events %>
  <h4 class="mb-4 text-secondary">Past Events</h4>
  <% if @past_events.any? %>

   <div class="row g-4 mb-5">
    <% @past_events.each do |event| %>
      <div class="col-md-4">
        <%= link_to event_rsvps_path(event), class: "text-decoration-none" do %>
          
          <div class="event-card">
            
            <!-- Top Gradient -->
            <div class="card-header-gradient">
              <h5><%= event.name %></h5>
            </div>

            <!-- Body -->
            <div class="card-body-custom">
              <p>
                📅 <strong><%= event.date.strftime("%d %b %Y") %></strong>
              </p>

              <p>
                📍 <%= event.venue.try(:name) || "No venue" %>
              </p>

              <div class="rsvp-count">
                <% if event.date < Date.today%>
                <small>Event done</small>
                <% else %>
                <span><%= event.rsvps.count %></span>
                <small>Responses</small>
                <%end%>
                
              </div>
            </div>

          </div>

        <% end %>
      </div>
    <% end %>
  </div>
  <% else %>
      <div class="col-12">
        <p class="text-center text-muted">No past events found.</p>
      </div>

      <% end %>


</div>