<div class="rsvp-dashboard">

  <h2>RSVPs for <%= @event.name %></h2>
  <div class="text-center mb-3">

    <%# Action buttons %>
  <%= link_to "Invite more",
      event_invite_guests_path(@event),
      class: "btn btn-dark" %>

      <%= link_to "Special Requests",
      special_requests_event_rsvps_path(@event),
      class: "btn btn-dark" %>


     <button class="btn btn-dark"
  onclick="openEmailModal(
    <%= @event.id %>,
    '<%= j @event.name %>',
    '<%= j @event.start_date.strftime("%B %d, %Y") %>'
  )">
  Send email
</button>



  <%= link_to "← Back", request.referer || root_path, class: "btn bg-dark btn-dark rounded-pill px-3" %>

</div>

<% if current_user.role == "admin" || current_user == @event.event_manager %>
<%= render "email_bar" , event: @event %>
<% end%>

<%= render "filter_bar" , event: @event, rsvps: @rsvps %>

