<p>Hello <%= @guest.user&.name || "Guest" %>,</p>

<p><%= @message %></p>

<br>

<p><strong>Event: <%= @event&.name %></strong></p>
<p><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y")%>
<% if @event.date < @event.end_date%>
to <%= @event.end_date.strftime("%B %d, %Y")%>
<%end%> </p>


<p>Thank you!</p>
<p>EventBuzz Team</p>