<%# #b42508 %>
<% navbar_color = ["event_manager", "activity_owner", "admin"].include?(current_user&.role) ? "black" : "#ff7a00" %>
<nav class="navbar navbar-expand-lg" style="background-color: <%= navbar_color %>;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #ffffff; font-weight: bold;">EventBuzz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user && current_user.role == "admin"%>
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard" style="color: #ffffff;">Home</a>
          </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: #ffffff;">Home</a>
        </li>
          <%end%>


        <%# user info %>
         <% if user_signed_in? %>
        
        <%# admin dashboard %>
         <% if current_user.role == "admin" %>
           <li class="nav-item">
            <a class="nav-link" href="/admin/users" style="color: #ffffff;">Users</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/venues" style="color: #ffffff;">Venues</a>
        </li>
         <%# events %>
        <li class="nav-item">
          <a class="nav-link" href="/events" style="color: #ffffff;">Events</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="/reports" style="color: #ffffff;">Reports</a>
        </li>
        <%# end%>

        <%# event manager dashboard %>
        <% elsif current_user.role == "event_manager"%>
        <li class="nav-item">
          <%= link_to "My Events", index_event_manager_path(current_user.id),
          class: "nav-link", style: "color: #ffffff;" %>
        </li>
      

        <li class="nav-item">
          <a class="nav-link" href="/rsvp/<%= current_user.id %>/dashboard" style="color: #ffffff;">RSVP Dahsboard</a>
        </li>
       
        <% #end%>

        <%# Activity owners %>
        <% elsif current_user.role == "activity_owner"%>
        <li class="nav-item">
          <%= link_to "My Events/Activities", index_activity_manager_path(current_user.id),
          class: "nav-link", style: "color: #ffffff;" %>
        </li>
        <% #end%>

        <%# For guests %>
        <% else %>
        <li class="nav-item">
          <%= link_to "RSVPs", my_invites_path,
          class: "nav-link", style: "color: #ffffff;" %>
        </li>

        <li class="nav-item">
          <%= link_to "Events", my_events_path,
          class: "nav-link", style: "color: #ffffff;" %>
        </li>
         <li class="nav-item">
          <%= link_to "Queries", my_queries_path,
          class: "nav-link", style: "color: #ffffff;" %>
        </li>

        <%end%>


       
        <%# User authentication %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" 
             style="color: #ffffff;">
            Account
          </a>
          <ul class="dropdown-menu" style="background-color: white;">
            <% if user_signed_in? %>
              <li><a class="dropdown-item" href="/users/edit" style="color: #ff7a00;">Profile</a></li>
              <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item", style: "color: #ff7a00;" %>
            <% else %>
              <li><a class="dropdown-item" href="/users/sign_in" style="color: #ff7a00;">Login</a></li>
              <li><a class="dropdown-item" href="/users/sign_up" style="color: #ff7a00;">Register</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
     <%end%>
    </div>
  </div>
</nav>